body {
    color: #2d3c49;
}

form, textarea{
    padding: 0;
}
.muted {
    color: #7d97ad;
}

.medium-line {
    border: none;
    height: 4px;
    color: #7d97ad;
    background-color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-app {
    font-size: 36px;
}

.title-works {
    margin-left: 12px;
    font-size: 28px;
}

.title-logo {
    margin-top: 25px;
}

.post {
    border: 1px solid #000;
    margin-bottom: 15px;
}
.post-header {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.post-body {
    min-height: 8em;
}

.post-footer {
    border-top: 1px solid #000;
}
.post-button {
    width: 5em;
}