{% extends "base.html" %}
{% block content %}
<section class="col-md-9">
    <form class="col-md-12" method="post">
        <div class="form-group">
            <label for="subject">Subject:</label>
            <input class="form-control" type="text" name="subject" id="subject" value="{{ post.subject }}"/>
        </div>
        <div class="form-group">
            <label for="content">Post:</label>
            <textarea class="form-control" name="content" id="content" rows="10">{{ post.content }}</textarea>
        </div>
        <div class="form-group text-right">
            <div class="form-error"></div>
            <input class="btn btn-default" type="submit" />
            <a href="/blog/{{ post.key().id() }}" class="btn btn-default">Cancel</a>
        </div>
    </form>
    </div>
</section>
{% endblock %}