<div class="row">
        <div class="col-md-12">
            <a href="/"><img class="title-logo" src="/img/logo.svg" width="80" height="80" alt="Udacity logo" /></a>
        </div>
        <div class="col-md-12 text-right">
            {% if user %}
            <span>Welcome, {{ user.username }}! <a href="/logout">Logout</a></span>
            {% else %}
            <span><a href="/login">Login</a> or <a href="/signup">Signup</a></span>
            {% endif %}
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr class="medium-line muted">
        {% if user %}
        <nav>
            <a class="btn btn-default btn-xs" href="/blog/new">New Post</a>
            <a class="btn btn-default btn-xs" href="/blog">Your Posts</a>
            <a class="btn btn-default btn-xs" href="/">All Posts</a>
        </nav>
        <hr class="medium-line muted">
        {% endif %} 
    </div>
</div>
