{% extends "base.html" %}
{% block content %}
<section class="col-md-9">
    <div class="col-md-12">
        <h2>Login to your account</h2>
    </div>
    <form class="form-horizontal col-md-6" method="post">
        <div class="form-group">
            <label class="control-label col-md-4" for="username">Username:</label>
            <div class="col-md-8">
                <input class="form-control" type="text" name="username" id="username" value="{{ username }}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4" for="password">Password:</label>
            <div class="col-md-8">
                <input class="form-control" type="password" name="password" id="password" value=""/>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="form-error"></div>
            <input class="btn btn-default" type="submit" />
            <div class="help-block"><a href="/signup">Don't have an account yet?</a></div>
        </div>
    </form>
</section>
{% endblock %}