<article class="row post">
    <div class="col-md-12 post-header">
        <div class="row">
            <div class="col-md-6">
                <a href="/blog/{{ post.key().id() }}"><h4>{{ post.subject }}</h4></a>
            </div>
            {% if post.author.username == user.username %}
            <div class="col-md-6 text-right">
                <form class="form-inline" method="post" action="/blog/delete/{{ post.key().id() }}">
                    <a class="btn btn-default post-button btn-xs" href="/blog/edit/{{ post.key().id() }}">Edit</a> 
                    <button type="submit" class="btn btn-danger post-button btn-xs">Delete</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12 post-body">
        <div class="row">
            <div class="col-md-12">
                {{ post.content | markdown }}
            </div>
        </div>
    </div>
    <div class="col-md-12 post-footer">
        <div class="row">
            <div class="col-md-6">Posted by <a href="/user/{{ post.author.username }}">{{ post.author.username }}</a>: {{ post.created.strftime("%x @ %X") }}</div>
            <div class="col-md-6 text-right">
                {% if post.is_liked_by(user) %}
                You like this post. <a class="btn btn-default btn-xs" href="/blog/{{ post.key().id() }}/unlike">Unlike</a>
                {% else %}
                <a class="btn btn-default btn-xs" href="/blog/{{ post.key().id() }}/like">Like</a>
                {% endif %}

            </div>
        </div>
    </div>
</article>